<div style="height:100vh;">
    <img style='transform:scale(0.9);position: absolute;left: 50%;top: 30%; margin-left: -50px;margin-top: -50px;' src="{{ asset('assets/global/img/loading/loading-md.gif') }}" alt=""/>
</div>