<div class="modal-dialog">
    <div class="modal-content">
        <form class="form-horizontal" id="form_change_user_password" action="{{ path('ajax_save_change_user_password') }}">
            <div class="modal-header bg-grey-mint bg-font-grey-mint">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><i class="fa fa-lock"></i> Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-body" >
                            <div id="form_user_alert"></div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">New Password <span class="required">*</span></label>
                                <div class="col-md-8">
                                    <input type="text" name="user_id" class="form-control hide" value="{{ user_id }}"/>
                                    <input type="password" name="password" placeholder="Enter Password" class="form-control"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Repeat <span class="required">*</span></label>
                                <div class="col-md-8">
                                    <input type="password" name="passwordRepeat" placeholder="Repeat Password" class="form-control"/>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <div>
                    <button type="submit" class="btn btn-primary btn-fill" id="save_changes"><i class="icon-check"></i> Save Changes</button>
                    <button type="button" class="btn btn-default" id="close" data-dismiss="modal"><i class="icon-close"></i> Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

